/* add font  [START]*/
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Bold.ttf);
    font-weight:700;
}
@font-face{
    font-family:Harmony;
    src: url(fonts/HarmonyOS_Sans_Black.ttf);
    font-weight: 900;
}
/* add font  [END]*/
/* GENERAL CSS [START] */
/* make css varibles */
:root{
    --primary-color: #ffffff;
    --grey-color: rgb(102, 102, 102);/*grey*/
    --black-text: #2f2f2f;/*white*/
    --blue-color: #3E7BF6;/*blue*/
    --green-color: #3FD194;/*green*/
    --red-color: #F84960; /*red*/
    --background-color: #ffffff;
    --help-btn: #2C79B7;
}
/* Remove margin and padding for all of items */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:Harmony;
    text-decoration: none;
}
/* GENERAL CSS [END] */
/* add some styles to body*/
body{
    background-color: var(--primary-color);
    color: var(--black-text);
}
/* add some styles to container */
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
/* text with font size 40px can get these styles*/
.css-fo40{
    font-size: 40px;
    font-weight: 700;
}
/* text with font size 24px can get these styles*/
.css-fo24{
    font-size: 24px;
    font-weight: 700;
}
/* text with font size 20px can get these styles*/                        
.css-fo20{
    font-size: 20px;
    font-weight: 500;
}
/* text with font size 18px can get these styles*/
.css-fo18{
    font-size: 18px;
    font-weight: 700;
}
/* text with font size 16px can get these styles*/
.css-fo16{
    font-size: 16px;
    font-weight: 600;
}
.css-fo20{
    font-size: 20px;
    font-weight: 700;
}
.css-fo40{
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}
    /*we can use this class for numbers in chart*/

.css-fop24{
    color: var(--grey-color);
    line-height: 36px;
    font-size: 24px;
    margin-top: 30px;
}
/* Paragraph with font size 20px can get these properties*/
.css-fop20{
    color: var(--grey-color);
    line-height: 30px;
    font-size: 20px;
    margin-top: 16px;
}
/* Paragraph with font size 18px can get these properties*/
.css-fop18{
    color: var(--grey-color);
    font-size: 18px;
}
/* Paragraph with font size 16px can get these properties*/
.css-fop16{
    color: var(--grey-color);
    font-size: 16px;
}
/* Paragraph with font size 14px can get these properties*/
.css-fop14{
    color: var(--grey-color);
    font-size: 14px;
}
/* Paragraph with font size 12px can get these properties*/
.css-fop12{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
}
/* Add this class to btn's that skew */
.skewX{
    border-radius: 0px 50px 50px 0px;
    transform: skewX(-5deg);
}
/* footer [START] */
/* IMG CSS [START]*/
footer img{
    width: 100px;
    height: 100px;
    max-width: 120px;
    font-size: 0px;
    display: inline-block;
    width: 95px
}
/*IMG CSS [END]*/
footer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
footer>.countainer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_item_card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 35%;
}
.footer_item_card img,.footer_item_card svg{
    width: 33px;
    height: 33px;
    padding: 0;
    margin: 0 16px 16px 0;
    cursor: pointer;
}
.footer_item_card div{
    display: flex;
    flex-wrap: wrap;

}
.footer_item_card img:hover ,.footer_item_card svg:hover{
    transition: all 0.3s;
    transform: translateY(-5px);
}
.footer_item_card a{
    margin-bottom: 13px;
}
.footer_item_card a:first-of-type{
    color: var(--black-text);
    margin-bottom: 17px;
}
.line{
    padding: 8px 0px;
}
/* footer [END] */