/* GENERAL CSS [START] */
/* make css varibles */
:root{
    --primary-color: #0C0E11;
    --grey-color: #999999;/*grey*/
    --white-text: #FFFFFF;/*white*/
    --blue-color: #3E7BF6;/*blue*/
    --green-color: #3FD194;/*green*/
    --red-color: #F84960; /*red*/
    --background-color: #17181E;
    --help-btn: #2C79B7;
}
/* Remove margin and padding for all of items */
body{
    background-color: rgb(23, 24, 30);
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/* GENERAL CSS [END] */

/* IMG CSS [START]*/
img{
    width: 100px;
    height: 100px;
    overflow-clip-margin: content-box;
    max-width: 120px;
    font-size: 0px;
    display: inline-block;
    width: 95px
}
/*IMG CSS [END]*/

footer{
    width: 100%;
    text-align: center;
}

.countainer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_item_card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;


}

.footer_item_card a:first-of-type{
    color: 
}


a{
    color: #FFFFFF;
}
p{
    color: antiquewhite;

}