/* add font  [START]*/
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Bold.ttf);
    font-weight:700;
}
@font-face{
    font-family:Harmony;
    src: url(fonts/HarmonyOS_Sans_Black.ttf);
    font-weight: 900;
}
/* add font  [END]*/
/* GENERAL CSS [START] */
/* make css varibles */
:root{
    --primary-color: #0C0E11;
    --grey-color: #999999;/*grey*/
    --white-text: #FFFFFF;/*white*/
    --blue-color: #3E7BF6;/*blue*/
    --green-color: #3FD194;/*green*/
    --red-color: #F84960; /*red*/
    --background-color: #17181E;
    --help-btn: #2C79B7;
}
/* Remove margin and padding for all of items */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:Harmony;
    list-style: none;
}
/* GENERAL CSS [END] */
/* add some styles to body*/
body{
    background-color: var(--background-color);
    color: var(--white-text);
}
/* add some styles to container */
.container{
    width: 100%;
    max-width: 1200px;
}
/* btn news */
.btn-news{
    margin-left: 5px;
    padding: 0 0 0 5px;
    width: 30px;
    height: 15px;
    font-size: 9px;
    border-radius: 3px;
    color: var(--white-text) ;
    background-color:var(--red-color) ;
}
/* text with font size 40px can get these styles*/
.css-fo40{
    font-size: 40px;
    font-weight: 700;
}
/* text with font size 24px can get these styles*/
.css-fo24{
    font-size: 24px;
    font-weight: 700;
}
/* text with font size 20px can get these styles*/                        
.css-fo20{
    font-size: 20px;
    font-weight: 500;
}
/* text with font size 18px can get these styles*/
.css-fo18{
    font-size: 18px;
    font-weight: 700;
}
/* text with font size 16px can get these styles*/
.css-fo16{
    font-size: 16px; /*we can use this class for numbers in chart*/
}
/* Paragraph with font size 20px can get these properties*/
.css-fop20{
    color: var(--grey-color);
    line-height: 30px;
    font-size: 20px;
    margin-top: 16px;
}
/* Paragraph with font size 18px can get these properties*/
.css-fop18{
    color: var(--grey-color);
    font-size: 18px;
}
/* Paragraph with font size 16px can get these properties*/
.css-fop16{
    color: var(--grey-color);
    font-size: 16px;
}
/* Paragraph with font size 14px can get these properties*/
.css-fop12{
    color: var(--grey-color);
    font-size: 12px;
}
.css-fop14{
    color: var(--grey-color);
    font-size: 14px;
}
/* Paragraph with font size 12px can get these properties*/
.css-fop12{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
}
/* Add this class to btn's that skew */
.skewX{
    border-radius: 0px 50px 50px 0px;
    transform: skewX(-5deg);
}
/* section Trade Anytime, Anywhere [START] */
section#Trade-Anytime-Anywhere{
    width: 100%;
    background-color: var(--background-color);
}
section#Trade-Anytime-Anywhere>div.container{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}
/* title [:start] */
#title-s-Trade-Anytime-Anywhere{
    display: flex;
    flex-direction: column;
}
/* title [end] */
/* body [:start] */
#body-s-Trade-Anytime-Anywhere{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
/* body left [start] */
#left-body-s-Trade-Anytime-Anywhere{
    width: 52%;
}
#left-body-s-Trade-Anytime-Anywhere>img{
    width: 100%;
}
/* body left [end] */
/* body rghit [start] */
#rghit-body-s-Trade-Anytime-Anywhere{
    width: 45%;
    border: 1px solid #292a2f;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 390px;  
}
#rghit-body-s-Trade-Anytime-Anywhere hr{
    color: #292a2f;
    opacity: 1;
    margin: 30px 0;
}
#rghit-body-s-Trade-Anytime-Anywhere>div{
    width: 100%;
    align-items: center;
    display: flex;
}
#rghit-body-s-Trade-Anytime-Anywhere>div:last-of-type{
    justify-content: space-between;
    align-content:space-between ;
    display: flex;
    flex-wrap: wrap;
    height: 125px;
}
#rghit-body-s-Trade-Anytime-Anywhere>div:first-of-type>div{
    display: flex;
    flex-direction: column;
}
#rghit-body-s-Trade-Anytime-Anywhere>div>img{
    border-radius: 3px;
    width: 130px;
    margin-right: 40px;
}
#rghit-body-s-Trade-Anytime-Anywhere>div:last-of-type>div{
    border: 1px solid #292a2f;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 13px;
    align-items: center;
    width: 47%;
}
#rghit-body-s-Trade-Anytime-Anywhere>div:last-of-type>div>div *{
    margin: 0;
}
#rghit-body-s-Trade-Anytime-Anywhere>div:last-of-type>div>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* body rghit [end] */
/* body [end] */
/* section Trade Anytime, Anywhere [END] */