/* add font  [START]*/
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Bold.ttf);
    font-weight:700;
}
@font-face{
    font-family:Harmony;
    src: url(fonts/HarmonyOS_Sans_Black.ttf);
    font-weight: 900;
}
/* add font  [END]*/
/* GENERAL CSS [START] */
/* make css varibles */
:root{
    --primary-color: #0C0E11;
    --grey-color: #999999;/*grey*/
    --white-text: #FFFFFF;/*white*/
    --blue-color: #3E7BF6;/*blue*/
    --green-color: #3FD194;/*green*/
    --red-color: #F84960; /*red*/
    --background-color: #17181E;
    --help-btn: #2C79B7;
}
/* Remove margin and padding for all of items */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:Harmony;
}
/* GENERAL CSS [END] */
/* add some styles to body*/
body{
    background-color: var(--background-color);
    color: var(--white-text);
}
/* add some styles to container */
.container{
    width: 100%;
    max-width: 1200px;
}
/* text with font size 40px can get these styles*/
.css-fo40{
    font-size: 40px;
    font-weight: 700;
}
/* text with font size 24px can get these styles*/
.css-fo24{
    font-size: 24px;
    font-weight: 700;
}
/* text with font size 20px can get these styles*/                        
.css-fo20{
    font-size: 20px;
    font-weight: 500;
}
/* text with font size 18px can get these styles*/
.css-fo18{
    font-size: 18px;
    font-weight: 700;
}
/* text with font size 16px can get these styles*/
.css-fo16{
    font-size: 16px; /*we can use this class for numbers in chart*/
}
/* Paragraph with font size 20px can get these properties*/
.css-fop20{
    color: var(--grey-color);
    line-height: 30px;
    font-size: 20px;
    margin-top: 16px;
}
/* Paragraph with font size 18px can get these properties*/
.css-fop18{
    color: var(--grey-color);
    font-size: 18px;
}
/* Paragraph with font size 16px can get these properties*/
.css-fop16{
    color: var(--grey-color);
    font-size: 16px;
}
/* Paragraph with font size 14px can get these properties*/
.css-fop14{
    color: var(--grey-color);
    font-size: 14px;
}
/* Paragraph with font size 12px can get these properties*/
.css-fop12{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
}
/* Add this class to btn's that skew */
.skewX{
    border-radius: 0px 50px 50px 0px;
    transform: skewX(-5deg);
}
/* header code [START]  */
/* container (all) code [start] */
header{
    width: 100%;
    display: flex;
    background-color:var(--background-color) ;
    text-align: center;
    margin: 0 auto;
}
/* container (all) code [end] */
/* header-left [start] */
/* container code [start] */
#header-left{
    display: flex;
    float: left;
    padding: 10px 24px 10px 24px;
}
/* container code [end] */
/* logo [start]  */
#logo{
    display: flex;
}
#logo *{
    text-align: left;
}
/* logo img [start] */
#logo>img{
    width: 92px;
}
/* logo img [end] */
/* logo list [start] */
#logo>ul{
    list-style: none;
    display: flex;
    margin:0;
}
#logo>ul:hover>li>ul{
    display: flex;
    
}
#logo>ul>li{
    display: flex;
    margin-top:20px;
}
#logo>ul>li>img{
    position: absolute;
    top: 10px;
}
#logo>ul>li>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #1c1e22;
    width: 400px;
    padding: 26px 20px;
}
#logo>ul>li>ul>span{
    font-family:Harmony;
    font-weight: 500;
}
#logo>ul>li>ul>li{
    margin-top: 20px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
}
#logo>ul>li>ul>li>div{
    display: flex;
    justify-content: space-between;
}
#logo>ul>li>ul>li>div>svg{
    margin-right:14px;
}
#logo>ul>li>ul>li>svg{
   display: none;
}
#logo>ul>li>ul>li:hover>svg{
    opacity: 70%;
    display: block;
}
#logo>ul>li>ul>li:hover{
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}
#logo>ul>li>ul>li p{
    margin: 0;
}
#logo>ul>li>ul>li>div>div{
    width: 85.8%;
}
#logo>ul>li>ul>li>div>div>div{
    display: flex;
}
#logo>ul>li>ul>li>div>div>div>span{
    margin-left: 5px;
    text-align: center;
    width: 30px;
    height: 15px;
    font-size: 9px;
    border-radius: 2px;
    color: var(--white-text) ;
    background-color:var(--red-color) ;
}
/* logo list [end] */
/* logo [end]  */
/* header-left [end] */