/* add font  [START]*/
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family:Harmony ;
    src: url(fonts/HarmonyOS_Sans_Bold.ttf);
    font-weight:700;
}
@font-face{
    font-family:Harmony;
    src: url(fonts/HarmonyOS_Sans_Black.ttf);
    font-weight: 900;
}
/* add font  [END]*/
/* GENERAL CSS [START] */
/* make css varibles */
:root{
    --primary-color: #0C0E11;
    --grey-color: #999999;/*grey*/
    --white-text: #FFFFFF;/*white*/
    --blue-color: #3E7BF6;/*blue*/
    --green-color: #3FD194;/*green*/
    --red-color: #F84960; /*red*/
    --background-color: #17181E;
    --help-btn: #2C79B7;
}
/* Remove margin and padding for all of items */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:Harmony;
}
/* GENERAL CSS [END] */
/* add some styles to body*/
body{
    background-color: var(--primary-color);
    color: var(--white-text);
}
/* add some styles to container */
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
/* text with font size 40px can get these styles*/
.css-fo40{
    font-size: 40px;
    font-weight: 700;
}
/* text with font size 24px can get these styles*/
.css-fo24{
    font-size: 24px;
    font-weight: 700;
}
/* text with font size 20px can get these styles*/                        
.css-fo20{
    font-size: 20px;
    font-weight: 500;
}
/* text with font size 18px can get these styles*/
.css-fo18{
    font-size: 18px;
    font-weight: 700;
}
/* text with font size 16px can get these styles*/
.css-fo16{
    font-size: 16px;
    font-weight: 600;
}
 
.css-fo40{
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}
    /*we can use this class for numbers in chart*/

.css-fop24{
    color: var(--grey-color);
    line-height: 36px;
    font-size: 24px;
    margin-top: 30px;
}
/* Paragraph with font size 20px can get these properties*/
.css-fop20{
    color: var(--grey-color);
    line-height: 30px;
    font-size: 20px;
    margin-top: 16px;
}
/* Paragraph with font size 18px can get these properties*/
.css-fop18{
    color: var(--grey-color);
    font-size: 18px;
}
/* Paragraph with font size 16px can get these properties*/
.css-fop16{
    color: var(--grey-color);
    font-size: 16px;
}
/* Paragraph with font size 14px can get these properties*/
.css-fop14{
    color: var(--grey-color);
    font-size: 14px;
}
/* Paragraph with font size 12px can get these properties*/
.css-fop12{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 400;
}
/* Add this class to btn's that skew */
.skewX{
    border-radius: 0px 50px 50px 0px;
    transform: skewX(-5deg);
}
/* start header */
header{
    background-color: var(--background-color);
    margin: 0;
    position: fixed;
    z-index: 10;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
}
nav .logo{
    width: 100px;
    height: 20px;
}
.lists{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.lists>li>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 30, 34);
    border-radius: 0px 0px 8px 8px;
    padding: 12px 16px;
    opacity: 0;
    visibility: none;
    display: none;
    position: absolute;
    width: 340px;
    height: 200px;
    top: 65px;
}
.lists>li:hover>ul{
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 4;
}
.lists-drop{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-text);
    text-decoration: none;
}
.flash{
    opacity: 0;
}
.flash:hover{
    opacity: 1;
}
.link-nav:hover{
    color: #3E7BF6;
}

/* header-rghit-[start] */
#header-right{
    float: right;
    text-align: right;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    margin-left: 240px;
    margin-top: 12px;
}
#header-right>hr{
    border: 1px solid var(--white-text);
    margin: 0;
    height: 24px;
}
#sin-btns{
    display: flex;
}
.btn-register{
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
    cursor: pointer;
    padding:4px; ;
    height: 30px;
    width: 100px;
    border: 1px solid var(--blue-color);
}
.btn-register>h5{
    color: var(--blue-color);
    font-size: 14px;
}
.btn-register>img{
    width: 20px ;
    height: 20px;
    margin-right: 10px;
}
#header-rghit-icon>ul{
    display: flex;
}
#header-rghit-icon>ul>li{
    cursor: pointer;
    position: relative;
    margin: 0 8px;
}
#header-rghit-icon>ul>li>img{
    width: 20px;
}
#header-rghit-icon>ul>li>ul{
    display: none;
    background-color: var(--background-color);
    position: absolute;
    top: 40px;
    left: 1px;
    text-align: center;
    width: 130px;
    border-radius: 2px;
}
#header-rghit-icon>ul>li:hover>ul{
    display: flex;
    flex-direction: column;
}
#header-rghit-icon>ul>li:hover>ul img{
    width: 70px;
}
#login-register>h4{
    font-size: 16px;
    margin-top: 5px;
}
.elf{
    translate: 0px -10px;
}
/* header-rghit-[end] */